<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header hidden>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-site" padding>

	<div class="icon-top-holder">
		<ion-icon (click)="openMenu()" name="arrow-back"></ion-icon>
		<img src="assets/search-2.png" alt="" id="l-icon">
		<img src="assets/package.png" alt="" id="r-icon">
	</div>

	<div class="card-holder">

		<div class="circle-img"
			(click)="reloadCredits()"
			[ngStyle]="{ 'background-image': 'url(' + user.picture + ')'}">
		  </div>

		<ion-card>
		
		  <ion-card-content no-padding-bottom>

		  	<ion-card-header>
		  		<h1>
			  		{{user.name}}
			  		<br>
			  	</h1>
			  		<!-- <span mb5 class="stars-container" *ngIf="user.sex == 'F'"><ion-icon name="star" color="gold"></ion-icon> <span class="user_balance">{{user.balance || 0}}</span></span>
			  		<br> -->
		  	</ion-card-header>

		  	<ion-row>
		  		<ion-col col-12>
		  			<!-- <h2 class="credit" *ngIf="user.sex == 'M'">
		  				<img src="../assets/imgs/coin.png" alt="">
		  			 	CREDIT: {{user.balance || 0}}</h2> -->
		  			<ion-row no-padding-bottom style="text-align: center;">
		  				<ion-col no-padding-bottom col-4>
		  				<small style="color: silver">SEGUIDORES</small>
		  				<h2 style="font-weight: 700; font-size: 22px; color: #333;">218</h2>
		  				</ion-col>
		  				<ion-col no-padding-bottom>
		  				<small style="color: silver">SEGUIDOS</small>
		  				<h2 style="font-weight: 700; font-size: 22px; color: #333;">3K</h2>
		  				</ion-col>
		  				<ion-col no-padding-bottom col-4>
		  				<small style="color: silver">POSTS</small>
		  				<h2 style="font-weight: 700; font-size: 22px; color: #333;">1k</h2>
		  				</ion-col>
		  			</ion-row>
		  		</ion-col>
		  	</ion-row>

		  </ion-card-content>
		 
		</ion-card>

		<button ion-button class="instavip-btn gradient-2" style="border-radius: 12px; height: 4rem; font-size: 14px !important;">CONSEGUIR SEGUIDORES PARA MI CUENTA</button>

		<br>
		<br>
		<br>
		<p style="color: silver; width: 100%; text-align: center; font-size: 12px; margin-bottom: 6px;">Puedes conseguir seguidores para otra cuenta</p>

		<div id="other-account">
			<span><img src="assets/copy-item-2.png" alt=""></span>
			<input type="text" placeholder="PEGAR LINK DE OTRA CUENTA DE INSTAGRAM">
		</div>

		<br>
		
		<button ion-button class="instavip-btn bg-black" style="border-radius: 12px; height: 4rem; font-size: 14px !important;">ENVIAR</button>

		<br>
		<br>
		<br>

		

		<!-- <ion-card no-padding>
		  <ion-card-content no-padding>
			<ion-list no-padding>
				<ion-item button (click)="freeChat()" no-padding>
			      <ion-icon name="wallet" item-start class="icon-holder" id="icon1"></ion-icon>
			      <ion-label>
			      Mis compras</ion-label>
			    </ion-item>
			
				<ion-item button (click)="messages()" no-padding>
			      <ion-icon name="cog" item-start class="icon-holder icon-holder-cog" id="icon6"></ion-icon>
			      <ion-label>
			      Settings</ion-label>
			    </ion-item>
			</ion-list>
		  </ion-card-content>
		</ion-card> -->
    </div>
</ion-content>
